.filterPanel li {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.filterPanel li span {
    position: absolute;
    right: 10px;
    top: 12px;
    border-radius: 50%;
    font-size: 12px;
}