.homeContainer {
  /* background-color: #ffdab9; */
  background: linear-gradient(
    130deg,
    #071b2d,
    #0e2d45,
    #163d5b,
    #1d4c6f,
    #214a6f
  );
  /* background: linear-gradient(to bottom, #87ceeb, #007fff); */
}

.wave {
  background: url(../Assets/Images/wave.svg);
  background-size: cover;
}

#wave1 {
  animation: animate 4s linear infinite;
}
#wave4 {
  animation: animate2 5s linear infinite;
}

#wave3 {
  animation: animate 4.5s linear infinite;
}
#wave2 {
  animation: animate2 5s linear infinite;
}
@keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1440px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1440px;
  }
}
